<div class="table-container">
    <table>
        <tr>
            <td>
                <ul>
                    <li class="name">Daniela Cano Garcia</li>
                    <li class="ocp">Estudiante de ingeniería de software</li><br>
                    <li class="meta">Ingeniera de Software comprometida con el desarrollo de soluciones tecnológicas 
                        innovadoras y de alta calidad. Con experiencia en diseño, desarrollo y aseguramiento de la calidad,
                         busco aplicar mis conocimientos en tecnologías emergentes para contribuir al campo de la 
                         biomedicina.
                    </li>
                </ul>
            </td>
            <td class="center-image">
                <img src="assets/yo.jpg" alt="Foto" class="yo">
            </td>
            <td>
                <ul>
                    <li>✉ danielacanogarcia6&#64;gmail.com</li><br>
                    <li>☏ 2724146941</li><br>
                    <li>📍 Orizaba, Veracruz</li><br>
                    <li><img src="assets/git.png" class="icon"> DanielaCanoGarcia</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
