<h3>IDIOMAS</h3>

<div class="table-container">
    <table>
        <tr>
            <td>
                <ul>
                    <li>Español
                        <div class="progress-bar">
                            <div class="progress-bar-fill" style="width: 100%;">100%</div>
                        </div>
                    </li>
                    <li>Inglés
                        <div class="progress-bar">
                            <div class="progress-bar-fill" style="width: 30%;">30%</div>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
